body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: "Palanquin", sans-serif;
  font-size: 18px;
  margin: 0;
}

.myBody-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.6);
  border: #ffffff;
  margin: 0;
}

header {
  max-width: 1440px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.header-image {
  width: 100%;
  height: auto;
}
.header-image img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

nav {
  height: 128px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e76c1f;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
}

nav img {
  height: 24px;
  width: 81px;
}

.nav-bar {
  max-width: 1240px;
  margin: 0% auto;
  padding: 0 25px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 25%;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.hero {
  position: relative;
  margin-top: 120px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0;
  position: absolute;
  top: -240px;
  img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 13px solid #fdeadc;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  }
}
.headline {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
}

.content {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
}
.menu-sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headlineBurger {
  background-color: #e76c1f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 31px;
  padding-left: 100px;
  box-sizing: border-box;
}

.head {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
}

.head img {
  width: 88px;
  height: 91px;
  position: absolute;
  padding-bottom: 23px;
}

.headlinePizza {
  background-color: #e76c1f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  padding-left: 100px;
  box-sizing: border-box;
}

.headlineSalads {
  background-color: #e76c1f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  padding-left: 100px;
  box-sizing: border-box;
}

.menu-container {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.court {
  background-color: #fdeadc;
  max-width: 712px;
  min-width: 590px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
  border-radius: 12px;
  gap: 15px;
}

.court img {
  width: 207px;
  height: 121px;
  padding: 10px 10px;
  object-fit: cover;
  border-radius: 20px;
  box-sizing: content-box;
}

.court-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 20px;
}

.court-descriptionAdded {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 50px;
}

.price-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 25px;
  padding-right: 10px;
}

footer {
  max-width: 1440px;
  width: 100%;
  height: 128px;
  background-color: #e76c1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: white;
  gap: 50px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 35px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* Für den organgen Streifen auf content und hinter dem basket-wrapper */
.headlineBurger,
.headlinePizza,
.headlineSalads {
  position: relative;
}

.headlineBurger::after,
.headlinePizza::after,
.headlineSalads::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  max-width: 435px;
  width: 100%;
  height: 100%;
  background-color: #e76c1f;
  padding: 0;
  margin: 0;
  z-index: 1;
}
/* ------------------------------------------------------------------ */

.basket-mobile {
  display: none;
}

@media (max-width: 980px) {
  .basket_wrapper,
  .basket,
  .headlineBurger::after,
  .headlinePizza::after,
  .headlineSalads::after,
  .menu {
    display: none;
  }

  body {
    padding-bottom: 78px;
  }

  header {
    height: auto;
  }
  nav {
    height: 79px;
  }

  nav img {
    height: 31px;
    width: auto;
  }

  .nav-bar {
    padding: 0 15px;
  }

  .headline {
    flex-direction: column-reverse;
  }

  header p {
    text-align: center;
    font-size: 22px;
  }

  .hero {
    gap: 5px;
  }
  .header-image {
    margin: 0 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-img {
    top: -190px;
    img {
      width: 120px;
    }
  }
  .header-image img {
    height: 346px;
    width: 95%;
    border-radius: 30px;
  }

  .menu-container {
    align-items: center;
  }
  .content {
    width: 100%;
  }

  .head {
    flex-direction: column;
    padding: 0;
  }

  .head img {
    width: 58px;
    height: auto;
    position: absolute;
    top: -57px;
  }

  h2 {
    padding: 0;
  }

  .headlineBurger {
    padding: 0;
    margin: 0;
  }

  .headlinePizza {
    padding: 0;
  }

  .headlineSalads {
    padding: 0;
  }

  .court {
    max-width: 1240px;
    min-width: 300px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .court img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .court-description {
    padding: 0 15px;
  }

  .price-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 25px;
    padding: 15px 15px;
    box-sizing: border-box;
  }

  footer {
    flex-direction: column-reverse;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
}
