
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: "Palanquin", sans-serif;
  font-size: 18px;
  margin: 0;
}

.myBody-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.6);
  border: #ffffff;
  margin: 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

header {
  max-width: 1440px;
  width: 100%;
  height: 508px;
  background-image: url(assets/img/9368f6ab61c8df3bac59f014cab9c6aa8df459ec.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

nav {
  height: 128px;
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e76c1f;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

nav img {
  height: 24px;
  width: 81px;
}

.nav-bar {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.menu {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 25%;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.hero {
  position: relative;
  margin-top: 120px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0;
  position: absolute;
  top: -240px;
  img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 13px solid #fdeadc;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  }
}
.headline {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; 
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
}

.content {
  width: calc(100% - 445px);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
}
.menu-sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headlineBurger {
  background-color: #e76c1f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}

.head {
  max-width: 950px;
  width: 100%;
  margin: 0;
  padding: 0%;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.head img {
  width: 88px;
  height: 91px;
  position: absolute;
  padding-bottom: 23px;
  padding-left: 25px;
}

.headlinePizza {
  background-color: #e76c1f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}

.headlineSalads {
  background-color: #e76c1f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}

.menu-container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.court {
  background-color: #fdeadc;
  max-width: 712px;
  width: 100%;
  height: 141px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin-top: 25px;
  border-radius: 12px;
  gap: 15px;
  margin: 15px 25px;
}

.court img {
  width: 207px;
  height: 121px;
}

.court-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 20px;
}

.court-descriptionAdded {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 50px;
}

.price-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 25px;
}

footer {
  max-width: 1440px;
  width: 100%;
  height: 128px;
  background-color: #e76c1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: white;
  gap: 50px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* Für den organgen Streifen auf content und hinter dem basket-wrapper */
.headlineBurger,
.headlinePizza,
.headlineSalads {
  position: relative;
}

.headlineBurger::after,
.headlinePizza::after,
.headlineSalads::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 435px;
  height: 100%;
  background-color: #e76c1f;
  padding: 0;
  margin: 0;
  z-index: 1;
}
/* ------------------------------------------------------------------ */
