/* Button styling  */
.addButton {
  border-radius: 20px;
  width: 115px;
  height: 30px;
  font-size: 16px;
}

.addButton:hover {
  cursor: pointer;
  color: #e76c1f;
  transform: translateY(-3px);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* Button syling bei hinzugefügten Gericht */
.addedButton {
  border-radius: 20px;
  width: 115px;
  height: 30px;
  color: #e76c1f;
  font-size: 16px;
}

.addedButton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}

/* Styling der Scrollbar für den Warenkorb */
.basket-items-list::-webkit-scrollbar {
  width: 6px;
  height: 60px;
}

.basket-items-list::-webkit-scrollbar-track {
  background: #363534;
  border-radius: 30px;
}

.basket-items-list::-webkit-scrollbar-thumb {
  background: #e76c1f;
  border-radius: 10px;
}

.basket-items-list::-webkit-scrollbar-thumb:hover {
  background: #c95b17;
}
/* Warenkorb buttons*/
.btn-delete {
  height: 24px;
  width: 24px;
  background-image: url(../assets/img/delete.svg);
  background-size: 16px 18px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.btn-delete:hover {
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-image: url(../assets/img/deleteHover.svg);
  background-size: 16px 18px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transform: translateY(-3px);
}

.btn-decrease {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: none;
  font-size: 30px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: black;
}

.btn-increase {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 24px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: black;
}

.btn-increase:hover,
.btn-decrease:hover {
  cursor: pointer;
  color: #e76c1f;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transform: translateY(-3px);
}

.checkout-btn {
  background-color: #e76c1f;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}

.checkout-btn:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(231, 108, 31, 0.4);
}

.btn-close-dialog, 
.mobile-only{
  width: 40px;
  height: 40px;
  font-size: 40px;
  background-color: transparent;
  margin: 0;
  border: none;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.btn-close-dialog:hover,
.btn-close-basket:hover, 
.mobile-only:hover {
  cursor: pointer;
  color: #c95b17;
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}
